@import '~bootstrap/scss/bootstrap';

#sign-out, #show-notes {
  display: inline;
}

input[name='title'] {
  width: 19.25%;
}

input[name='priority'] {
  width: 10.5%;
}

input[name='body'] {
  padding-top: 10px;
  height: 75px;
  width: 30%;
}

input[name='note_id'] {
  width: 5%;
}

input[name='title2'] {
  width: 16.4%;
}

input[name='priority2'] {
  width: 8%;
}

input[name='body2'] {
  width: 30%;
  height: 75px;
}



#note-header {
  text-align: center;
  font-size: 20px;
  padding: 15px;
}

#header-auth {
  font-size: 35px;
  text-align: center;
}

button:hover {
  text-decoration: underline;
}

button {

  background-color: white;
  color: black;
  text-transform: uppercase;
  border: 0;
}

p {
  text-align: center;
}

form {
  text-align: center;
}

#authNotification {
  position: absolute;
  top: 43px;
  left: 42%;
}
